<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
  <context:component-scan base-package="com.umcs.zmudziak"/>
  <context:property-placeholder location="information.properties"/>
  <bean id="weatherInformation" class="com.umcs.zmudziak.WeatherInformation">
    <constructor-arg ref="breakingNewsService"/>
  </bean>

  <bean id="breakingNewsService" class="com.umcs.zmudziak.WeatherBreakingNewsService"/>
  <bean id="musicBreakingNewsService" class="com.umcs.zmudziak.MusicBreakingNewsService"/>
  <bean id="sportBreakingNewsService" class="com.umcs.zmudziak.SportBreakingNewsService"/>
  <bean id="musicInformation" class="com.umcs.zmudziak.MusicInformation">
    <property name="newsService" ref="musicBreakingNewsService"/>
    <property name="name" value="Michael Jackson"/>
    <property name="description" value="${music.description}"/>
  </bean>
</beans>
